@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border: 1px solid rgba(255,255,255,.3);
}
*{
font-family: "Roboto", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
outline: none;
border: none;
text-transform: capitalize;
transition: 0.2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
  background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: .5rem;
  }
  
  body{
    background: var(--bg);
  }

  section{
    padding: 2rem 7%;
  }
  /*! خصائص اي btn */
  .btn{
    margin-top: 1rem;
    display:inline-block ;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
  }
  .btn:hover{
    letter-spacing: .2rem;
  }

  /* headingخصائص لكل ال  */
  .heading{

  color: #fff;
 text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  padding-bottom: 4rem;
  padding-top: 3.8rem;
  }

 /* header */
  .header{
    background: var(--bg); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    border-bottom:  var(--border) ;
    position: fixed;
    top:0; 
    left: 0;
    right: 0;
    z-index: 1000;
  }
  .logo img{
    height: 100px;
  }
  .header .navbar a{
margin: 0 1rem;
font-size: 1.6rem;
color: #fff;
cursor: pointer;
  }
  .header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid  var(--main-color);
    padding-bottom: .5rem;
  }
  .header .icon div{
font-size: 1.9rem;
color: #fff;
margin-left: 2rem;
  }
  /*  */



  /*  */
  .header .icon div:hover{
    color: var(--main-color);
  }
 #menu-btn{
    display: none;
    cursor: pointer;
  }
  /* div  البحث*/
  .header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width:40rem ;
    height: 5rem;
    /* display: flex; */
    align-items: center; 
    /* علشان العنصر يختفي */
    transform: scaleY(0);
    /* علشان تحدد نقطه بدايه الظهور */
    transform-origin:  top;
  }
  /* مستطيل البحث */
  .header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    /* text-transform: none; */
  }
  /* الايقونات اللي جوا ميتطيل البحث */
  .header .search-form label{
    cursor: pointer;
    font-size: 2.5rem;
    margin-right: 1.5rem;
    color: var(--black);
  }
  .header .search-form label:hover{
    color: var(--main-color);
  }
/* !card */
  .header .cart-item-container{
    position: absolute;
    top: 100%;
    /*  علشان تختفي */
    right: -100%;   
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
    transition: 1s linear;

  display: flex;
  flex-direction: column;
   box-sizing: border-box;

  }  
  .header .cart-item-container h1{
    text-align: center;
    padding:  2rem ;
font-size: 2.4rem;
    color: var(--main-color);
  }


.header .cart-items{

  /* max-height: 100%; */
  overflow-y: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #525151;
  padding: 10px;
 box-sizing: border-box;
  }
  
  .cart-total{
      border-top: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    margin-top: 4.8rem;
    position: sticky;
    bottom: 1rem;
  z-index: 1;
     /* margin-top: auto; */
  }
.flex-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: .5rem;
}
 .cart-item-img{
   width: 100px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
 margin: 1.5rem 1rem;
 }
 .item-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 1rem;
  gap: 1rem;
 }
 .cart-item-name{
  font-size: 1.8rem;
  
 }
  .cart-item-price{
    font-size: 1.5rem;
    color: var(--main-color);
  }
.remove-btn{
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
}

/* * */
  /* بتاعت ال checkout  */
 .header .btn{
    width: 100%;
    text-align: center;
  
}
.btn:hover{
    letter-spacing: .2rem;
}
 
  /* ! media quary */
  @media( max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
      padding: 2rem;
    }
   
 

  }

/* screen lab */
  @media( max-width:768px){
    #menu-btn{
        display: inline-block;
      }
      .header .navbar{
        position: absolute;
        background: #fff;
        top:100%;
        right: -100%;
        width: 35rem;
        height: calc(100vh - 9.5rem);
        transition: 1s linear;
      }
      .header .navbar a{
        display: block;
      /* margin-bottom: 2rem; */
        color: #000000;
        margin: 3rem;
        font-size: 1.9rem;
      }
       
      .header .search-form{
        width: 90%;
        right: 2rem;
      }
      /* end header */


      /* start home */
      .home{
        background-position: left;
        justify-content: center;
        text-align: center;
      }
      .home .content h3{
       font-size: 4.rem;
      }
      .home .content p{
       font-size: 1.2rem;
       font-weight: 300;
      }

  }


  @media( max-width:768px){
html{
    font-size: 50%;
}


  }
  @media (max-width:450px) {
    html{
      font-size: 44%;
    }
    
  }
  /*   active */


   .header .navbar.active{
    right: 0;
   
  }
  .header .cart-item-container.active{
    right: 0;
  }
  .header .search-form.active{
    transform: scaleY(1);
  }
  /* end header */



  /* start header */
  .home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/b5.jpg) no-repeat;
    max-width: 100%;
    background-size: cover;
    background-position: center;

  }
  .home .content{
    max-width: 60rem;
  }
  .home  .content h3{
    font-size: 4.5rem;
    color: #fff;
    text-transform:uppercase;
  
  }
  .home .content p{
color: #a8a7a7;
font-size: 1.6rem;
font-weight: 300;
line-height: 1.8;
padding: 1rem 0;

  }
  

 
/*  TODO start about */

.heading{

  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

  .heading span{
  font-size: 4rem;
  color: var(--main-color);
padding: 0 1rem;
  text-transform: uppercase;
}
/* .row-div-about .image {
   flex: 1 1 45rem;
} */

.row-div-about {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background: var(--black);
  /* ~علشان تسيب مسافه  */
  /* gap: 2rem; */
  flex-wrap: wrap;
}
.row-div-about .image{
   flex: 1 1 45rem;
 
}
.row-div-about .image img{
 width:100%;
  height: auto;
  display: block;

 /* height: 66vh; */
 
}

.row-div-about .content {
   flex: 1 1 45rem;
   padding: 2rem;
}
.row-div-about .content h3{
  font-size: 3rem;
  color: #fff;
}
.row-div-about .content p{
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem 0;
  line-height: 1.8;
}
 /* .row-div-about .content h3{
  color: #fff;
   font-size: 3rem;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
     /*^ ال حلت مكانه gap  */
   /** padding-left: 2rem; */
/* } */
/* .row-div-about .content p{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
padding-top: 2rem; */
  /*& ال حلت مكانه gap  */
/* padding-left: 2rem; */
/* line-height: 1.8;
} */
.about .btn {
  /* &ال حلت مكانه gap  */
/* margin-left:2rem ; */
/* margin-top:4rem ; */
}

@media (max-width:991px) {
  .row-div-about .image img{
 width:100%;
 
}


}
@media (max-width:768px) {
  .row-div-about .image img{
 width:100%;
 
}

 .home{

 max-width: 100%;
 }

}

/* TODO end about */

/* ! start menu */
  .menu .box-continer{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
   flex-wrap: wrap;
}
  .menu .box-continer .box{
  border: 1px solid gray;
  padding: .8rem 0 .8rem 0;
 text-align: center;
  flex-basis: 30%;
  margin: 1rem;
 

}
  .menu .box-continer .box img{
  width: 70px;
  border-radius: 60%;
  overflow: hidden;
  height:70px;
  margin-top: 1.5rem;
}
 .menu .box h3{
  color: white;
  font-size: 1.5rem;
  padding: 1.5rem;
  letter-spacing: 1px;
}

  .menu .box div{
    color: white;
  font-size: 1.5rem;
}
  .menu .box  span{
  color: aliceblue;
    font-size: 1.3rem;
  text-decoration: line-through;

}

  .menu .box-continer .box  button{
color: aliceblue;
font-size: 1.3rem;
margin: 2rem;
}

  .menu .box:hover{
  background-color: #fff;
}
/*  كل العناصر اللي بعده */
 .menu .box:hover > *{
  color: #000000;
}
 .menu .box:hover span{
  color: #000000;
}


/* media */

@media (max-width:1024px) {
  
  .menu .box-continer .box{
  flex-basis: 30%;
   padding: .8rem 0 .8rem 0;

  }
}

/*  */
@media (max-width:900px) {
  .menu .box-continer .box{
  flex-basis: 48%;
margin:  .6rem .3rem .6rem .3rem;
}
}

@media ( max-width:768px){
  .menu .box-continer .box{
  
  /* padding: .8rem; */
  flex-basis: 46%;
  /* margin: .6rem; */
 

}
}
@media ( max-width:450px){
 .menu .box-continer .box{
flex-basis: 95%;
/* text-align: center; */
margin:  .6rem auto .6rem auto;
  }

}

/* !  end start menu */



/* !start products */
.product .box-continer{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
gap: 1.5rem;
}
.product .box-continer .box{
  border: var(--border);
  text-align: center;
 padding: 2rem;

}

.product .box-continer .box .image{
  text-align: center;
}
.product .box-continer .box .image img{
  width: 20rem;
  height: auto;
}
.product .box-continer .box .image .diffcof{
  width: 15rem;
  height: auto;
}
.product .box-continer .box .image .img1{

  height: 22.2rem;
}
.product .box-continer .box .icon a{
border: var(--border);
padding: 1rem;
font-size: 1.5rem;
color: white;
}

.product .box-continer .box .icon a:hover{
 background: var(--main-color);
  
}
.product .box-continer .box .content{
  text-transform: capitalize;
}
.product .box-continer .box h3{
  font-size: 2rem;
  color: white;
}
 .box .content .star{
  padding: 1.5rem;
 }
 .box .content .star i{
  font-size: 1.4rem;
  color: var(--main-color);
  /* margin-bottom: 1.5rem; */
  
}

.product .box-continer .box .content  .price {
 color: #fff;
  font-size: 1.7rem;
 
}
.product .box-continer .box .content  .price span{
 color: #fff;
  font-size: 1.3rem;
  text-decoration: line-through;
  font-weight: lighter;
}



 /* ! start reviwe */
.review .box-continer{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
  grid: 1.5rem ;
}
.review .box-continer .box{
  border: var(--border);
  text-align: center;
 padding:  3rem 2rem;
 margin: .7rem;
}
.review .box .arrow{
 width: 5rem;
border-radius: 50%;
}
.review .box .person{
 width: 7.5rem;
border-radius: 50%;
margin-top: 1rem;
object-fit: cover;
}
.review .box p{
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2rem 0;
  line-height: 2rem;
  margin-top: 1rem;
}
   .review .box .fa-star,.fa-star-half-alt{
    color: var(--main-color);
   }
.review h3{
  color: #fff;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.review i{
  font-size: 1.2rem;
}
  /* ! end reviwe */




/* !start contact */
.contact .heading{
  margin-bottom: 5rem;
}
.contact .row{
 background-color:var(--black);
 display: flex;
 align-items: center;
 flex-wrap: wrap;
 gap:1.5rem;
 justify-content: center;
}
.contact .row .map{
  flex: 1 1 45rem;
 max-width: 100%;
 height: 70vh;
  /* علشان يعمل resize  */
  object-fit: cover;
}
.contact .row form{
  flex: 1 1 45rem;
}

.contact .row form h3{
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
  text-align: center;
}
.contact .row form .inputbox{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--bg);
  border: var(--border);

}
.contact .row form span{
  font-size:2rem ;
  padding-left: 2rem;
  color: #fff;

}
.contact .row form .inputbox input{
  width: 100%;
  padding: 2rem;
  font-size: 1.5rem;
   background: var(--bg);
   text-transform: none;
   color: #fff;
}


.contact .btn{
  text-align: center;
 display: block;
/* علشان يتوسط */
  margin: 0 auto;
}



/* !end products */

/* ! start blog */

.blog .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
  gap: 1.5rem;
}
.blog .box-container .box{
  border:var(--border);

}
.blog .box-container .box .imges{
  overflow: hidden;
  width: 100%;
  height: 25rem;
}
.blog .box-container .box img{
  /* الحجم الكلي لdiv ال imges */
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}
.blog .box-container .box:hover img{
  transform: scale(1.2);
}
.blog .box-container .box .content{
  margin: 1.5rem;
  color: #fff;
line-height: 2.5;
}
.blog .box-container .box h2{
font-weight:normal;
font-size: 1.7rem;

  
}

.blog .box-container .box h4{
  color: var(--main-color);
  font-size: 1.3rem;
  font-weight: normal;
  
}
.blog .box-container .box p{
  font-weight: 300;
  font-size: 1.2rem;
}
.blog .box-container .box a{
  font-size: 1.4rem;
  padding: 0 2.4rem;
}

/* ! end blog */
/* 
 */
 /* ! start footer */



 .footer{
    text-align: center;
  background-color: var(--black);
 }
 .footer .share {

padding:1rem 0 ;
 }
  .footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
     font-size: 1.7rem;
    border: var(--border);
  border-radius: 50%;
  color: #fff;
  margin: 1rem;

  }
   .footer .share a:hover{
    background-color: var(--main-color);
   }
 
  .footer .links{
padding:2rem 0 ;
display: flex;
justify-content: center;
gap: 1.5rem;
flex-wrap: wrap;

  }
  .footer .links a{
color: #fff;
font-size: 1.6rem;
border: var(--border);
padding: .7rem 2rem;
  }
 .footer .links a:hover{
    background-color: var(--main-color);
   }
    .footer .credit{
      color: #fff;
      font-size: 1.5rem;
      font-weight: lighter;
      margin: 1rem 0;
      /* letter-spacing: 2px; */
    word-spacing:  2px;
    }
    .footer .credit span{
      color: var(--main-color);
    }
 /* ! end footer */








